<app-splash-screen
  *ngIf="showSplash"
  (animationComplete)="onSplashComplete()"
></app-splash-screen>

<app-biometric-lock *ngIf="isAppLocked$ | async"></app-biometric-lock>

<app-foreground-notification></app-foreground-notification>
<ion-content>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    *ngIf="isMobile"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <router-outlet></router-outlet>
  </div>
</ion-content>
